
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: auto;
  color: #333;
  font-weight: 700;
}

body,
html,
textarea {
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}